@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contCenter {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.listItem {
  display: flex;
  border: 1px solid rgb(133, 130, 133);
  display: flex;
  vertical-align: middle;
}

@media screen and (max-width: 400px) {
  body {
    padding: 0;
  }
  .contCenter {
    width: 94vw;
    margin: 2rem auto 1rem auto;
  }
}